#dropmenu, #dropmenu ul {margin:0; padding-top:25px; padding-left:35px; list-style-type:none; list-style-position:outside; position:relative; line-height:170%; z-index:300; width:100%;  font-weight:bold;}
#dropmenu a {display:block; padding-right:27px; padding-left:27px; color:#333333; border-right:1px solid #333333; text-decoration:none; background:transparent;}
#dropmenu a:hover {background:transparent; color:#000000;}
#dropmenu li {float:left; position:relative;}
#dropmenu ul {position:absolute;margin:0px 0 0 0px; display:none; width:12em; top:.5em; left:-1px;}
#dropmenu ul a {background: #ffffff; border:none;}
#dropmenu ul a:hover {background: #ffffff; border:none;}
#dropmenu li ul {width:300px;}
#dropmenu li ul a {width:12em; height:auto; float:left;}
#dropmenu ul ul {top:auto;}
#dropmenu li ul ul {left:10em; margin:0 0 0 0px;top:-.09em;}
	